@{
    ViewData["Title"] = "Email Verification Successful";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Registration Successful!</h4>
                <p>You've successfully verified your email. We love you so much ❤️ </p>
                <hr>
                <p class="mb-0">Once verified, you can proceed to the login page.</p>
            </div>
            <a asp-action="Login" class="btn btn-primary">Go to Login Page</a>
        </div>
    </div>
</div>