@page "/passwords"
@using YetgenAkbankJump.BlazorDI.Services
@inject IToasterService toastService

<h3>PasswordsPage</h3>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        toastService.ShowInfo("Welcome!!!!");

        base.OnAfterRender(firstRender);
    }
}
